header {
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }
  
  header .Website-Logo img {
    height: 50px; /* Adjust the height as needed */
  }
  .navbar {
    background-color: black;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  nav li {
    margin-left: 10px; /* Adjust the margin as needed */
  }
  
  nav li a {
    color: white;
    text-decoration: none;
  }
  .dropdown {
    position: relative;
    display: inline-block;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    color: black;
    background-color: lightblue;
    min-width: 15em;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
  }
  .dropdown:hover .dropdown-content { display: block; }
  
  a { text-decoration: none; font-size: 1.2em; display: inline-block;  }
  a:hover { color: white; background-color: blue; }
  
   @media (max-width: 40em) {
     .menu li div { width: 100%; }
     .menu li { width: 100%; }
   }  
  
  
  .navbar-nav .nav-link {
    color: white;
    font-weight: 500;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 16px;
  }
  
  .navbar-nav .nav-link:hover {
    color: red;
    background-color: greenyellow;
  }
  
  .marquee-container {
    margin-top: 20px; /* Adjust the margin as needed */
  }
  
  .marquee {
    width: 100%;
  }
  
